
@media (max-width: 600px) {
    .tab-btn {
        flex: 0 0 100%;
    }

}

@media (min-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .slide .description h3 {
        font-size: 24px;
    }

    .slide .description h4 {
        font-size: 20px;
    }

}

@media (min-width: 998px) {

    .carousel-navigation #prev,
    .carousel-navigation #next {
        position: relative;

    }

    .carousel-navigation #prev {
        left: 865px;
    }

    .carousel-navigation #next {
        left: 0;
    }

    p {
        font-size: 20px;
    }


}