
@media (max-width: 600px) {
    .tab-btn {
        flex: 0 0 100%;
    }

}

@media (min-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #container {
        height: auto;
    }

    .content {
        height: auto;
        min-height: 550px;
        gap: 2rem;
    }

    .main-content {
        height: 600px;
    }
    
    .slide .description .slide-link {
        margin-top: 10px;
    }

    .slide .description h3 {
        font-size: 24px;
    }

    .slide .description h4 {
        font-size: 20px;
    }

}

@media (min-width: 998px) {

    .carousel-navigation #prev,
    .carousel-navigation #next {
        position: relative;
        top: 150px;
        height: 40px;
        width: 30px;
        line-height: 40px;
    }

    .carousel-navigation #prev {
        left: 865px;
    }

    .carousel-navigation #next {
        left: 0;
    }

    p {
        font-size: 20px;
    }

}