
@media (max-width: 600px) {
    .tab-btn {
        flex: 0 0 100%;
    }

}

@media (min-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    p {
        font-size: 1.3rem;
    }

    #container {
        min-height: 50vh;
    }

    .content {
        height: auto;
        min-height: 34.3rem;
        gap: 2rem;
    }

    .content-img {
        height: 21.8rem;
    }

    .main-content {
        height: 37.5rem;
    }

    .carousel-navigation #prev,
    .carousel-navigation #next {
        top: 32rem;
    }
    
    .slide .description .slide-link {
        margin-top: 0.6rem;
    }

    .slide .description h3 {
        font-size: 1.5rem;
    }

    .slide .description h4 {
        font-size: 1.2rem;
    }

}

@media (min-width: 998px) {

    .carousel-navigation #prev,
    .carousel-navigation #next {
        position: relative;
        top: 9.3rem;
    }

    .carousel-navigation #prev {
        left: 54rem;
    }

    .carousel-navigation #next {
        left: 0;
    }

    p {
        font-size: 1.2rem;
    }

}