@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0400;700&display=swap');

:root {
    --main: #9294ff;
    --main-hover: #404bb1e4;
    --secondary: #364FC7;
    --grey1: #f0f8ff;
    --grey2: #c7d2fe;
    --grey2-hover: #dae0fa;
    --grey3: #020617ce;
    --black: #070707;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

p {
    color: var(--main-hover);
    font-size: 1rem;
    font-weight: 500;
}

strong {
    color: var(--grey3);
}

#container {
    background-color: var(--grey1);
    max-width: 62.5rem;
    width: 100%;
    min-height: 100vh;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 var(--grey3);
}

header span {
    color: var(--main);
    font-size: 1.25rem;
    font-weight: 500;
}

header h1 {
    color: var(--main);
    font-size: 1.5rem;
    font-weight: 600;
    border-right: 3px solid;
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(18), cursor 0.5s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.tab-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.35rem;
    margin-bottom: 0.35rem;
}

.tab-btn {
    flex: 1;
    border: none;
    color: var(--grey3);
    background-color: var(--grey1);
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active {
    background-color: var(--grey2);
}

.tab-btn:hover {
    background-color: var(--grey2);
}

.main-content {
    width: 100%;
}

.content {
    min-height: 28.1rem;
    display: none;
}

.content.show {
    display: flex;
    flex-direction: column;
    background-color: var(--grey2);
    border-radius: 0px 0px 8px 8px;
    padding: 1rem;
}

.content-img {
    height: 12.5rem;
}

.project-img {
    height: 11.8rem;
}

.content-title {
    color: var(--black);
}

.social-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 1.2rem;
}

.social-buttons abbr {
    display: flex;
    gap: 2rem;
}

.social-buttons abbr .fas {
    padding-left: 0.1rem;
}

.social-button {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.7rem 0.8rem ;
    background-color: var(--main);
    color: var(--grey1);
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

#gerarPDF {
    display: flex;
    cursor: pointer;
}

#gerarPDF small {
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
}

.social-button:hover {
    background-color: var(--main-hover);
}

.slide-container {
    position: relative;
}

.slide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.slide-container .slide {
    display: none;
}

.slide-container .slide.active {
    display: flex;
}

.slide-container .slide:nth-child(1) .slide {
    background-color: linear-gradient(90deg, #f9f9f9 70%, #ffff99 30%);
}

.slide-container .slide:nth-child(2) .slide {
    background-color: linear-gradient(90deg, #f9f9f9 70%, #ffff99 30%);
}

.slide-container .slide:nth-child(3) .slide {
    background-color: linear-gradient(90deg, #f9f9f9 70%, #ffff99 30%);
}

.description {
    padding-left: 0.6rem;
    flex: 1 1 18.7rem;
    animation: slideContent .4s linear .6s backwards;
}

@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateY(-3.1rem);
    }
}

.slide .image {
    height: 14rem;
}

.slide .image:hover {
    box-shadow: inset 0 0 40px 0 var(--grey1);
    border-radius: 8px;
}

.slide .description h3 {
    color: var(--grey3);
    padding-bottom: 0.3rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.slide .description h4 {
    color: var(--grey3);
    font-weight: 400;
}

.slide .description>p {
    padding: 0.9rem 0 0.9rem 0;
    font-size: 1.1rem;
    font-weight: 400;
}

.slide .description .slide-link {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
}

.slide .description .slide-link a {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--main-hover);
    background-color: var(--grey1);
    padding: 0.7rem 0.7rem;
    border-radius: 50%;
    font-weight: 400;
    cursor: pointer;
}

.slide .description .slide-link .repo {
    padding: 0.7rem 0.8rem;
}

.slide .slide-icons {
    display: flex;
    gap: 2rem;
    padding-top: 0.6rem;
}

.slide .slide-icons .fab,
.slide .slide-icons .fas {
    color: var(--main-hover);
}

.slide-icons #typescript {
    max-width: 1rem;
    max-height: 1rem;
    margin: 0 0.3rem -0.1rem 0;
}

.slide-icons #nextjs {
    max-width: 1rem;
    max-height: 1rem;
    border-radius: 50%;
    margin: 0 0.3rem -0.1rem 0;
    border: 1px solid var(--main-hover);
    background-color: var(--grey2);
}

.slide .description .slide-link a:hover {
    background-color: var(--grey2-hover);
}

.image {
    flex: 1 1 18.7rem;
}

.image img {
    width: 100%;
    animation: slideImage .4s linear;
}

@keyframes slideImage {
    0% {
        opacity: 0;
        transform: translateX(-3.1rem);
    }
}

.carousel-navigation #prev,
.carousel-navigation #next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: var(--grey1);
    background-color: var(--grey3);
    height: 2.5rem;
    width: 1.8rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.carousel-navigation #prev:hover,
.carousel-navigation #next:hover {
    background-color: var(--main);
}

.carousel-navigation #prev {
    right: 1.2rem;
}

.carousel-navigation #next {
    left: 1.2rem;
}
