@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0400;700&display=swap');

:root {

    --main: #9294ff;
    --main-hover: #404bb1e4;
    --secondary: #364FC7;
    --grey1: #f0f8ff;
    --grey2: #c7d2fe;
    --grey2-hover: #dae0fa;
    --grey3: #020617ca;
    --black: #070707;

}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

p {
    color: var(--main-hover);
    font-size: 18px;
    font-weight: bold;
}

#container {
    background-color: var(--grey1);
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

header span {
    color: var(--main);
    font-size: 20px;
    font-weight: 500;


}

header h1 {
    color: var(--main);
    font-size: 24px;
    font-weight: 600;
    border-right: 3px solid;
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(18), cursor 0.5s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.tab-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 5px;
}

.tab-btn {
    flex: 1;
    border: none;
    color: var(--grey3);
    background-color: var(--grey1);
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active {
    background-color: var(--grey2);
}

.tab-btn:hover {
    background-color: var(--grey2);
}

.main-content {
    width: 100%;
    height: auto;
}

.content {
    display: none;
}

.content.show {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: var(--grey2);
    border-radius: 0px 0px 8px 8px;
    padding: 16px;
}

.content-img {
    width: 100%;
    height: auto;
}

#img-home {
    max-height: 408px;
}

#img-contact {
    max-height: 340px;
}

#img-about {
    max-height: 352px;
}

.content-title {
    color: var(--black);
}

.social-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 20px;
}

.social-buttons abbr {
    display: flex;
    gap: 2rem;
}

.social-buttons abbr .fas {
    padding-left: 2px;
}

.social-button {
    width: 40px;
    height: 40px;
    padding: 12px 12px;
    background-color: var(--main);
    color: var(--grey1);
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

#gerarPDF {
    display: flex;
    cursor: pointer;
}

#gerarPDF small {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.social-button:hover {
    background-color: var(--main-hover);
}

.slide-container {
    position: relative;
}

.slide {
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 9%;
}

.slide-container .slide {
    display: none;
}

#typescript {
    max-width: 16px;
    max-height: 16px;
}

#nextjs {
    max-width: 16px;
    max-height: 16px;
    border-radius: 50%;
    border: 1px solid var(--main-hover);
}

.slide-container .slide.active {
    display: flex;
}

.slide-container .slide:nth-child(1) .slide {
    background-color: linear-gradient(90deg, #f9f9f9 70%, #ffff99 30%);
}

.slide-container .slide:nth-child(2) .slide {
    background-color: linear-gradient(90deg, #f9f9f9 70%, #ffff99 30%);
}

.slide-container .slide:nth-child(3) .slide {
    background-color: linear-gradient(90deg, #f9f9f9 70%, #ffff99 30%);
}

.description {
    flex: 1 1 300px;
    animation: slideContent .4s linear .6s backwards;
}

@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.slide .description h3 {
    color: var(--grey3);
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
}

.slide .description h4 {
    color: var(--grey3);
    font-weight: 400;
}

.slide .description>p {
    padding: 15px 0 30px 0;
    font-size: 18px;
    font-weight: 400;
}

.slide .description .slide-link {
    display: flex;
    justify-content: space-between;
}

.slide .description .slide-link a {
    width: 40px;
    height: 40px;
    color: var(--main-hover);
    background-color: var(--grey1);
    padding: 12px 12px;
    border-radius: 50%;
    font-weight: 400;
    cursor: pointer;
}

.slide .slide-icons {
    display: flex;
    gap: 20px;
    padding-top: 10px;
}

.slide .slide-icons .fab,
.slide .slide-icons .fas {
    color: var(--main-hover);
}

.slide .description .slide-link a:hover {
    background-color: var(--grey2-hover);
}

.image {
    flex: 1 1 300px;
}

.image img {
    width: 100%;
    animation: slideImage .4s linear;
}

@keyframes slideImage {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

.carousel-navigation #prev,
.carousel-navigation #next {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    color: var(--grey1);
    background-color: var(--grey3);
    height: 40px;
    width: 30px;
    line-height: 40px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.carousel-navigation #prev:hover,
.carousel-navigation #next:hover {
    background-color: var(--main);
}

.carousel-navigation #prev {
    right: 20px;
}

.carousel-navigation #next {
    left: 20px;
}


@media (max-width: 600px) {
    .tab-btn {
        flex: 0 0 100%;
    }

}

@media (min-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .slide .description h3 {
        font-size: 24px;
    }

    .slide .description h4 {
        font-size: 20px;
    }

}

@media (min-width: 998px) {

    .carousel-navigation #prev,
    .carousel-navigation #next {
        position: relative;

    }

    .carousel-navigation #prev {
        left: 865px;
    }

    .carousel-navigation #next {
        left: 0;
    }

    p {
        font-size: 24px;
    }


}